@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-font: "Poppins", sans-serif;
  --customColor: #574964;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-customViolet: #574964;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no__scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
  
  .font-outline-1 {
    -webkit-text-stroke: 0.5px white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", "serif", Arial, Helvetica, sans-serif;
}

*{
  outline: none !important;
}

button {
  outline: none !important;
}

.stroke-text {
  -webkit-text-stroke: 0.5px #574964;
}

.stroke-text-white {
  -webkit-text-stroke: 0.5px white;
}